{% extends 'admin/adminBase.html.twig' %}

{% block body %}
  <main class="container">
    <h1>Dashboard | Accrochet-vous</h1>
    <h2>Nombre d'articles</h2>
    <h2>Nombre de user</h2>
    <h2>Nombre de commentaires à modérer</h2>
    <h2>Nombre d'article à modérer</h2>
  </main>
{% endblock %}