{% extends 'admin/adminBase.html.twig' %}

{% block title %}Modification de catégorie{% endblock %}

{% block body %}

    <h2>Modification de la catégorie "{{ categoryToUpdate.name }}"</h2>

    {{ form(formView) }}

{% endblock %}
