{%  extends 'base.html.twig' %}

{%  block title %}
    Bienvenue ! | Accrochet-vous
{% endblock %}

{%  block body %}

    <section>
        <h2>Dernier ajout</h2>
        <div>
            <img src="{{ lastArticle.image }}", alt="{{ lastArticle.title }}">
        </div>
        <article>
            <h3></h3>
            <p></p>
            <p>
                <a></a>
            </p>

            <a>Voir le modèle</a>
        </article>
    </section>

    <section>
        <h2>Les préférés de l'équipe</h2>
        <div>
            <div>
                <div><img></div>
                <div>
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div>
                <div><img></div>
                <div>
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div>
                <div><img></div>
                <div>
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div>
                <div><img></div>
                <div>
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div>
                <div><img></div>
                <div>
                    <h4></h4>
                    <p></p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}