@import "_services.scss";

section.w80 {
  article.isFlex {
    margin: 2rem 0;
  }
  .w40 {
    img {
      @include border-radius(0.25rem)
    }
  }
}

.commentArticle {
  background-color: $white;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;

  .info {
    color: $darkGreen;
    font-size: 14px;
    margin-bottom: 0.5rem;
    a {
      color: $darkGreen;
    }
  }
}

.buttonComment {
  @include buttonStyle($darkGreen);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: $white;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    background-color: $darkLilac;
  }
}