@import "_services.scss";

section.containerGreen {
  margin-top: 2.5rem;
    @include formContainer($lightGreen, 2rem, 0.5rem);

  h2.titleH2 {
    margin: 1rem 0;
    @include fontTitle($black, 26px)
  }
  .formWrapper {
    .buttonContainer {
      @include buttonStyle($darkGreen);
      color: $white;
      border: none;
      font-size: 16px;
      border-radius: 0.25rem;
      transition: all 0.3s;

      &:hover {
        background-color: $darkLilac;
      }
    }
  }
}

section.containerLilac {
  margin-top: 2.5rem;
  @include formContainer($lightLilac,0.5rem, 2rem );

  h2.titleH2 {
    margin: 1rem 0;
    @include fontTitle($black, 26px)
  }
  .formWrapper {
    .buttonContainer {
      @include buttonStyle($darkGreen);
      color: $white;
      border: none;
      font-size: 16px;
      border-radius: 0.25rem;
      transition: all 0.3s;

      &:hover {
        background-color: $darkLilac;
      }
    }
  }
  .textForm {
    text-align: center;
    margin-top: 1.5rem;
    .linkForm {
      color: $white;
    }
  }

}

.formWrapper {
  width: 50%;
  margin: auto;

  .formField {
    margin-bottom: 0.8rem;
    .labelForm {
      color: $black;
      margin: 0.5rem 0;
    }

    .inputForm {
      color: $black;
      background-color: $white;
      border-radius: 0.5rem;
      border: none;
      width: 100%;
      height: 40px;
      margin: 0.4rem 0;
      padding: 0 1rem;
    }
  }
}

.textAreaForm {
  color: $black;
  background-color: $white;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  height: 250px;
  margin: 1rem 0;
  padding: 1rem;
}