@import "_services.scss";


header.isRelative {
  div.w80 {
    margin: auto;
    div.titleContainer {
      text-align: center;
      margin-bottom: 1.5rem;

      .mainTitle {
        @include fontTitle($black, 48px);
        padding-top: 3rem;
      }

      .titleH2 {
        @include fontTitle($black, 16px);
      }
    }

    .isAbsolute.logoHeader {
      width: 12%;
      top: 5px;
      left: 7%;
    }
  }

  nav.headerNavBar.dropdown-menu {
    margin: auto;
    width: 80%;
    background-color: $lightGreen;
    height: 60px;
    align-items: center;
    border-radius: 0.5rem;

    ul.isFlex {
      justify-content: space-evenly;
      align-items: center;
      height: 100%;

      li.liNav {
        font-family: "Nunito", serif;
        font-size: 20px;
        list-style: none;
        width: 25%;
        text-align: center;

        a.linkNav {
          color: $black;
          text-decoration: none;
          transition: all 0.5s;

          &:hover {
            color: $white;
            font-size: 21px;
          }
        }
      }
      .outLi {
        list-style: none;
        div.buttonContainer.isAbsolute {
          width: 5rem;
          display: block;
          @include buttonStyle($lightGreen);
          padding-top: 1rem;
          border-radius: 0.25rem;
          text-align: center;
          transition: all 0.5s;
          top: 40%;
          right: 78px;
          transform: translate(-50%, -50%);

          a.buttonHeader {
            text-decoration: none;
            color: $white;
            font-family: "Nunito", serif;
          }

          &:hover {
            background-color: $darkGreen;
          }
        }
      }
    }
  }
}
.liNav {
  input {
    border-bottom: solid $darkGreen 1px;
    height: 1.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: $black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    transition: all 0.5s;

    &:hover {
      border-bottom: solid $white 1px;
      color: $white;
    }
  }
  button {
    background-color: transparent;
    border: none;
    width: 10%;
    transition: all 0.3s;

    &:hover {
      transform: scale(120%);
    }
  }
}

.menu.inMobile {
  display: none
}