@import "_services.scss";

section.lilacSection {
  background-color: $lightLilac;
  padding: 2rem 4rem;
  margin: 2rem 0;
  .titleH2 {
    @include fontTitle($black, 30px);
    margin: 0 0 1.5rem 0;
  }
  div.isFlex.w80 {
    .imageContainerHomePage {
      width: 30%;
      img {
        border-radius: 0.75rem;
      }
    }
    .containerWhiteBg {
      border-radius: 0.25rem;
      width: 70%;
      margin: 0;
      padding: 1.5rem;
      h3 {
        @include fontTitle($darkGreen, 24px);
        margin: 1rem 0;
      }
      p {
        font-size: 18px;
        color: $black;
        margin: 1rem 0;
      }
      a.button {
        @include buttonStyle($lightGreen);
        text-align: center;
        padding: 0.6rem;
        border-radius: 0.25rem;
        color: $black;
        margin: 1rem 0;
        text-decoration: none;
        transition: all 0.4s;

        &:hover {
          background-color: $darkLilac;
          color: $white;
        }
      }
    }
  }
}
p.white-space-wrap.overflow-scroll {
  height: 15rem;
}
.homePageSection {
  background-color: $lightGreen;
  margin-top: 4rem;
  padding: 3rem;
  h2 {
    margin: 1rem 0;
  }
  .grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem ;
    .contentGrid {
      background-color: $darkGreen;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5.5rem;
      padding: 0.75rem;
      transition: all 1s;
      h4 {
        color: $white;
        font-weight: normal;
      }
      p {
        color: $lightGreen;
      }
    }
    #grid1 {
      grid-column: 1/2;
      grid-row: 1/2;
      &:hover > .contentGrid {
        bottom: 0
      }
    }
    #grid2 {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    #grid3 {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    #grid4 {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    #grid5 {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
}