@import "_services.scss";

section.containerGreen {
  .isFlex {
    align-items: center;
    div.profilePictureContainer {
      width: 10rem;
    }
    div.infoProfileContainer {
      margin-left: 1rem;
      text-align: left;
    }
  }
  div.w90 {
    h3 {
      margin-top: 2rem;
      font-weight: bolder;
    }
    .containerWhiteBg {
      color: $darkGreen;
      margin-bottom: 2rem;
    }
  }
  .isFlex.flexBetween {
    .buttonContainer {
      @include buttonStyle($darkGreen);
      color: $white;
      text-decoration: none;
      width: 250px;
      height: 70px;
      padding: 25px 7px;
      font-size: 18px;
      border-radius: 0.5rem;
      transition: all 0.3s;

      &:hover {
        background-color: $darkLilac;
      }
    }
    a {
      color: $black;
      text-decoration: none;
        position: relative;
        display: inline-block;
    }
  }
}

.containerWhiteBg {
  border-radius: 1rem;
  background-color: $white;
  padding: 1rem;
  margin: 1rem auto;
}

.infobubble {
  position: absolute;
  background-color: $darkLilac;
  color: $white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
  white-space: nowrap;
  bottom: 1.5rem;
  left: 4.5rem;
  transform: translate(-50%,-50%);
}