@mixin fontTitle($color ,$size) {
  color: $color;
  font-size: $size;
  font-family: "Nunito", serif;
  text-align: center;
}

@mixin buttonStyle($backgroundColor) {
  background-color: $backgroundColor;
  width: 120px;
  height: 50px;
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
}

@mixin formContainer($backgroundColor, $borderRadiusRL, $borderRadiusLR) {
  width: 80%;
  background-color: $backgroundColor;
  border-top-right-radius: $borderRadiusRL;
  border-bottom-left-radius: $borderRadiusRL;
  border-bottom-right-radius: $borderRadiusLR;
  border-top-left-radius: $borderRadiusLR;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
}


$black: #181F1C;
$white: #EEEEEE;

$lightGreen: #AFC294;
$darkGreen: #6F7762;

$lightLilac: #A589C6;
$darkLilac: #5F4B64;

$lightRed: #F06449;
$darkRed: #772014;
$successBorder: #76B041;
$successBg: #DAEFB3;

$breakPoint: 620px;

.isRelative {
  position: relative;
}
.isAbsolute {
  position: absolute;
}

.isFlex {
  display: flex;
  gap: 1rem;
}
.flexColumn {
  flex-direction: column;
}
.flexStart {
  justify-content: flex-start;
}
.flexBetween {
  justify-content: space-between;
}
.flexAlignItemsCenter {
  align-items: center;
}

.w40 {
  width: 40%;
}
.w60 {
  width: 60%;
  margin: 0 auto;
}
.w70 {
  width: 70%;
  margin: 0 auto;
}
.w80 {
  width: 80%;
  margin: 0 auto;
}
.w90 {
  width: 90%;
  margin: 0 auto;
}
.w100 {
  width: 100%;
}

.center {
  text-align: center;
}

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif;
}

.error {
  background-color: $lightRed;
  border: $darkRed 1px solid;
  color: $white;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif;
}

.success {
  background-color: $successBg;
  border: $successBorder 1px solid;
  color: $black;
}

.white-space-wrap {
  white-space: pre-line;
}

.overflow-scroll {
  overflow: scroll;
}

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

