.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

header.isRelative div.w80 {
  margin: auto; }
  header.isRelative div.w80 div.titleContainer {
    text-align: center;
    margin-bottom: 1.5rem; }
    header.isRelative div.w80 div.titleContainer .mainTitle {
      color: #181F1C;
      font-size: 48px;
      font-family: "Nunito", serif;
      text-align: center;
      padding-top: 3rem; }
    header.isRelative div.w80 div.titleContainer .titleH2 {
      color: #181F1C;
      font-size: 16px;
      font-family: "Nunito", serif;
      text-align: center; }
  header.isRelative div.w80 .isAbsolute.logoHeader {
    width: 10%;
    top: 5%;
    left: 7%; }
header.isRelative nav.headerNavBar.dropdown-menu {
  margin: auto;
  width: 80%;
  background-color: #AFC294;
  height: 60px;
  align-items: center;
  border-radius: 0.5rem; }
  header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex {
    justify-content: space-evenly;
    align-items: center;
    height: 100%; }
    header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex li.liNav {
      font-family: "Nunito", serif;
      font-size: 20px;
      list-style: none;
      width: 25%;
      text-align: center; }
      header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex li.liNav a.linkNav {
        color: #181F1C;
        text-decoration: none;
        transition: all 0.5s; }
        header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex li.liNav a.linkNav:hover {
          color: #EEEEEE;
          font-size: 21px; }
    header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex .outLi {
      list-style: none; }
      header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex .outLi div.buttonContainer.isAbsolute {
        width: 5rem;
        display: block;
        background-color: #AFC294;
        width: 120px;
        height: 50px;
        padding-top: 1rem;
        border-radius: 0.25rem;
        text-align: center;
        transition: all 0.5s;
        top: 40%;
        right: 78px;
        transform: translate(-50%, -50%); }
        header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex .outLi div.buttonContainer.isAbsolute a.buttonHeader {
          text-decoration: none;
          color: #EEEEEE;
          font-family: "Nunito", serif; }
        header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex .outLi div.buttonContainer.isAbsolute:hover {
          background-color: #6F7762; }

.liNav input {
  border-bottom: solid #6F7762 1px;
  height: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0.5rem;
  background-color: transparent;
  color: #181F1C;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  transition: all 0.5s; }
  .liNav input:hover {
    border-bottom: solid #EEEEEE 1px;
    color: #EEEEEE; }
.liNav button {
  background-color: transparent;
  border: none;
  width: 8%;
  transition: all 0.3s;
  margin-top: 0.5rem; }
  .liNav button:hover {
    transform: scale(120%); }

.menu.inMobile {
  display: none; }

.noStyle {
  text-decoration: none;
  color: #181F1C; }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

section.containerGreen {
  margin-top: 2.5rem;
  width: 80%;
  background-color: #AFC294;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem; }
  section.containerGreen h2.titleH2 {
    margin: 1rem 0;
    color: #181F1C;
    font-size: 26px;
    font-family: "Nunito", serif;
    text-align: center; }
  section.containerGreen .formWrapper .buttonContainer {
    background-color: #6F7762;
    width: 120px;
    height: 50px;
    color: #EEEEEE;
    border: none;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: all 0.3s; }
    section.containerGreen .formWrapper .buttonContainer:hover {
      background-color: #5F4B64; }

section.containerLilac {
  margin-top: 2.5rem;
  width: 80%;
  background-color: #A589C6;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem; }
  section.containerLilac h2.titleH2 {
    margin: 1rem 0;
    color: #181F1C;
    font-size: 26px;
    font-family: "Nunito", serif;
    text-align: center; }
  section.containerLilac .formWrapper .buttonContainer {
    background-color: #6F7762;
    width: 120px;
    height: 50px;
    color: #EEEEEE;
    border: none;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: all 0.3s; }
    section.containerLilac .formWrapper .buttonContainer:hover {
      background-color: #5F4B64; }
  section.containerLilac .textForm {
    text-align: center;
    margin-top: 1.5rem; }
    section.containerLilac .textForm .linkForm {
      color: #EEEEEE; }

.formWrapper {
  width: 50%;
  margin: auto; }
  .formWrapper .formField {
    margin-bottom: 0.8rem; }
    .formWrapper .formField .labelForm {
      color: #181F1C;
      margin: 0.5rem 0; }
    .formWrapper .formField .inputForm {
      color: #181F1C;
      background-color: #EEEEEE;
      border-radius: 0.5rem;
      border: none;
      width: 100%;
      height: 40px;
      margin: 0.4rem 0;
      padding: 0 1rem; }

.textAreaForm {
  color: #181F1C;
  background-color: #EEEEEE;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  height: 20rem;
  margin: 1rem 0;
  padding: 1rem;
  font-family: "Nunito Sans", sans-serif; }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

section.containerGreen .isFlex {
  align-items: center; }
  section.containerGreen .isFlex div.profilePictureContainer {
    width: 10rem; }
  section.containerGreen .isFlex div.infoProfileContainer {
    margin-left: 1rem;
    text-align: left; }
section.containerGreen div.w90 h3 {
  margin-top: 2rem;
  font-weight: bolder; }
section.containerGreen div.w90 .containerWhiteBg {
  color: #6F7762;
  margin-bottom: 2rem; }
section.containerGreen .isFlex.flexBetween .buttonContainer {
  background-color: #6F7762;
  width: 120px;
  height: 50px;
  color: #EEEEEE;
  text-decoration: none;
  width: 250px;
  height: 70px;
  padding: 25px 7px;
  font-size: 18px;
  border-radius: 0.5rem;
  transition: all 0.3s; }
  section.containerGreen .isFlex.flexBetween .buttonContainer:hover {
    background-color: #5F4B64; }
section.containerGreen .isFlex.flexBetween a {
  color: #181F1C;
  text-decoration: none;
  position: relative;
  display: inline-block; }

.containerWhiteBg {
  border-radius: 1rem;
  background-color: #EEEEEE;
  padding: 1rem;
  margin: 1rem auto; }

.infobubble {
  position: absolute;
  background-color: #5F4B64;
  color: #EEEEEE;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
  white-space: nowrap;
  bottom: 1.5rem;
  left: 4.5rem;
  transform: translate(-50%, -50%); }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

section.lilacSection {
  background-color: #A589C6;
  padding: 2rem 4rem;
  margin: 2rem 0; }
  section.lilacSection .titleH2 {
    color: #181F1C;
    font-size: 30px;
    font-family: "Nunito", serif;
    text-align: center;
    margin: 0 0 1.5rem 0; }
  section.lilacSection div.isFlex.w80 .imageContainerHomePage {
    width: 30%; }
    section.lilacSection div.isFlex.w80 .imageContainerHomePage img {
      border-radius: 0.75rem; }
  section.lilacSection div.isFlex.w80 .containerWhiteBg {
    border-radius: 0.25rem;
    width: 70%;
    margin: 0;
    padding: 1.5rem; }
    section.lilacSection div.isFlex.w80 .containerWhiteBg h3 {
      color: #6F7762;
      font-size: 24px;
      font-family: "Nunito", serif;
      text-align: center;
      margin: 1rem 0; }
    section.lilacSection div.isFlex.w80 .containerWhiteBg p {
      font-size: 18px;
      color: #181F1C;
      margin: 1rem 0; }
    section.lilacSection div.isFlex.w80 .containerWhiteBg a.button {
      background-color: #AFC294;
      width: 120px;
      height: 50px;
      text-align: center;
      padding: 0.6rem;
      border-radius: 0.25rem;
      color: #181F1C;
      margin: 1rem 0;
      text-decoration: none;
      transition: all 0.4s; }
      section.lilacSection div.isFlex.w80 .containerWhiteBg a.button:hover {
        background-color: #5F4B64;
        color: #EEEEEE; }

p.white-space-wrap.overflow-scroll {
  height: 15rem; }

.homePageSection {
  background-color: #AFC294;
  margin-top: 4rem;
  padding: 3rem; }
  .homePageSection h2 {
    margin: 1rem 0; }
  .homePageSection .grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem; }
    .homePageSection .grid .contentGrid {
      background-color: #6F7762;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5.5rem;
      padding: 0.75rem;
      transition: all 1s; }
      .homePageSection .grid .contentGrid h4 {
        font-weight: normal; }
        .homePageSection .grid .contentGrid h4 a {
          color: #EEEEEE;
          text-decoration: none; }
      .homePageSection .grid .contentGrid p {
        color: #AFC294; }
    .homePageSection .grid #grid1 {
      grid-column: 1/2;
      grid-row: 1/2; }
      .homePageSection .grid #grid1:hover > .contentGrid {
        bottom: 0; }
    .homePageSection .grid #grid2 {
      grid-column: 2/3;
      grid-row: 1/3; }
    .homePageSection .grid #grid3 {
      grid-column: 3/4;
      grid-row: 1/2; }
    .homePageSection .grid #grid4 {
      grid-column: 1/2;
      grid-row: 2/3; }
    .homePageSection .grid #grid5 {
      grid-column: 3/4;
      grid-row: 2/3; }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

article.articleInList {
  margin: 2rem 0;
  flex-wrap: wrap; }
  article.articleInList div.imageContainerList {
    width: 25%; }
    article.articleInList div.imageContainerList img {
      border-radius: 0.25rem; }
  article.articleInList .articleContent h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1rem; }
  article.articleInList .articleContent p {
    font-weight: normal;
    font-size: 20px;
    margin: 0.5rem 0; }
  article.articleInList .articleContent ul.listCategory {
    margin: 1rem 0; }
    article.articleInList .articleContent ul.listCategory li {
      list-style: none;
      color: #6F7762; }
  article.articleInList .articleContent .infoArticle {
    margin-bottom: 2rem; }
  article.articleInList .articleContent div.buttonContainer {
    background-color: #6F7762;
    width: 120px;
    height: 50px;
    border-radius: 0.5rem;
    width: 250px;
    height: 40px;
    padding: 0.5rem 0;
    text-align: center;
    transition: all 0.3s; }
    article.articleInList .articleContent div.buttonContainer:hover {
      background-color: #5F4B64; }
    article.articleInList .articleContent div.buttonContainer a {
      color: #EEEEEE;
      text-decoration: none; }
  article.articleInList .articleContent div.buttonContainer.inCat {
    margin-top: 2rem; }
  article.articleInList::after {
    content: "";
    display: block;
    width: 80%;
    height: 0.1rem;
    background-color: #AFC294;
    margin: 1rem auto; }

.titleList {
  margin-top: 2rem;
  text-align: center;
  color: #6F7762; }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

section.w80 article.isFlex {
  margin: 2rem 0; }
section.w80 .w40 img {
  border-radius: 0.25rem; }
section.w80 div.w60 p.info-category {
  margin-bottom: 1rem; }
section.w80 div.w60 p.white-space-wrap.overflow-scroll {
  height: 35rem; }

.commentArticle {
  background-color: #EEEEEE;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem; }
  .commentArticle .info {
    color: #6F7762;
    font-size: 14px;
    margin-bottom: 0.5rem; }
    .commentArticle .info a {
      color: #6F7762; }

.buttonComment {
  background-color: #6F7762;
  width: 120px;
  height: 50px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #EEEEEE;
  text-decoration: none;
  transition: all 0.3s; }
  .buttonComment:hover {
    background-color: #5F4B64; }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

.pagination .current {
  color: #181F1C;
  font-size: 18px; }
.pagination .page a, .pagination .next a, .pagination .last a {
  color: #5F4B64;
  text-decoration: none;
  font-size: 18px; }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

.footerContainer {
  margin-top: 4rem;
  height: 5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.liFooter {
  list-style: none;
  width: 25%;
  text-align: center; }
  .liFooter .aContainer {
    display: block;
    width: 25%;
    text-align: center;
    margin: 0 auto; }

.linkFooter {
  color: #6F7762;
  transition: color 0.5s; }
  .linkFooter:hover {
    color: #181F1C; }

.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

@media only screen and (max-width: 620px) {
  /* hamburger menu in mobile */
  .menu.inMobile {
    display: block;
    list-style: none;
    top: 7rem;
    right: 2rem;
    z-index: 5000; }
    .menu.inMobile li.hamburgerMenu {
      background-color: #6F7762;
      height: 0.3rem;
      width: 4.5rem;
      margin: 0.8rem 0;
      transform: rotate(0) translate(0, 0);
      transition: all 1s; }
    .menu.inMobile li.hamburgerMenu.liActive:first-of-type {
      transform: rotate(-45deg); }
    .menu.inMobile li.hamburgerMenu.liActive:last-of-type {
      transform: rotate(45deg) translate(-1.5rem, -1.4rem); }
    .menu.inMobile li.hamburgerMenu.liActive:nth-of-type(2) {
      background-color: transparent; }

  header.isRelative div.w80 div.titleContainer {
    text-align: center;
    margin-bottom: 7.5rem; }
    header.isRelative div.w80 div.titleContainer .mainTitle {
      color: #181F1C;
      font-size: 26px;
      font-family: "Nunito", serif;
      text-align: center;
      padding-top: 1.5rem; }
    header.isRelative div.w80 div.titleContainer .titleH2 {
      color: #181F1C;
      font-size: 16px;
      font-family: "Nunito", serif;
      text-align: center; }
  header.isRelative div.w80 div.buttonContainer.isAbsolute {
    display: none; }
  header.isRelative div.w80 .isAbsolute.logoHeader {
    width: 7.5rem;
    top: 5rem;
    left: 1rem; }
  header.isRelative nav.headerNavBar.dropdown-menu {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    right: -40rem;
    border-radius: 0;
    transform: translateX(0);
    z-index: 300;
    transition: all 1s; }
    header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex {
      flex-direction: column;
      justify-content: center;
      width: 100%; }
      header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex li.liNav {
        font-size: 16px;
        width: 40%;
        background-color: #6F7762;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 0; }
        header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex li.liNav a.linkNav {
          color: #EEEEEE; }
      header.isRelative nav.headerNavBar.dropdown-menu ul.isFlex .outLi div.buttonContainer.isAbsolute {
        position: absolute;
        top: 4rem;
        left: 50%;
        background-color: #6F7762;
        border-radius: 0.5rem;
        width: 40%;
        padding: 1rem; }
  header.isRelative nav.headerNavBar.dropdown-menu.navActive {
    transform: translateX(-40rem); }
  header.isRelative .liNav:nth-of-type(3) input {
    border-bottom: solid #6F7762 1px;
    height: 1rem;
    font-size: 16px;
    width: 7.5rem;
    color: #EEEEEE;
    margin-bottom: 0.3rem; }
  header.isRelative .liNav:nth-of-type(3) button {
    width: 2rem;
    position: absolute;
    top: 52%;
    left: 62%; } }
.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

@media only screen and (max-width: 620px) {
  section.lilacSection {
    background-color: #A589C6;
    padding: 1rem 2rem; }
    section.lilacSection .titleH2 {
      color: #181F1C;
      font-size: 26px;
      font-family: "Nunito", serif;
      text-align: center;
      margin: 0 0 1rem 0; }
    section.lilacSection div.isFlex.w80 {
      flex-direction: column;
      width: 90%; }
      section.lilacSection div.isFlex.w80 .imageContainerHomePage {
        width: 100%; }
        section.lilacSection div.isFlex.w80 .imageContainerHomePage img {
          border-radius: 0.75rem; }
      section.lilacSection div.isFlex.w80 .containerWhiteBg {
        border-radius: 0.25rem;
        width: 100%;
        margin: 0;
        padding: 0.8rem 0.8rem 0.8rem 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        section.lilacSection div.isFlex.w80 .containerWhiteBg h3 {
          color: #6F7762;
          font-size: 20px;
          font-family: "Nunito", serif;
          text-align: center;
          margin: 0.2rem 0; }
        section.lilacSection div.isFlex.w80 .containerWhiteBg p.white-space-wrap {
          display: none; }
        section.lilacSection div.isFlex.w80 .containerWhiteBg p {
          margin: 0.2rem 0;
          font-size: 16px; }
        section.lilacSection div.isFlex.w80 .containerWhiteBg a.button {
          background-color: #AFC294;
          width: 120px;
          height: 50px;
          height: 43px;
          width: 8rem;
          padding: 0.6rem;
          border-radius: 0.25rem;
          margin: 0.3rem 0; }

  .homePageSection {
    background-color: #AFC294;
    margin-top: 2rem;
    padding: 0.3rem; }
    .homePageSection .grid {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column; }
      .homePageSection .grid .contentGrid {
        background-color: #6F7762;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5.5rem;
        padding: 0.75rem; } }
.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

@media only screen and (max-width: 620px) {
  .footerContainer {
    margin-top: 1rem;
    height: 3rem;
    width: 90%; }

  .liFooter {
    width: 30%;
    text-align: center;
    font-size: 14px; }
    .liFooter .aContainer {
      display: block;
      width: 70%;
      text-align: center;
      margin: 0 auto; }

  .notMobile {
    display: none; } }
.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

@media only screen and (max-width: 620px) {
  section.containerGreen {
    margin-top: 2.5rem;
    width: 80%;
    background-color: #AFC294;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem; }
    section.containerGreen h2.titleH2 {
      margin: 1rem 0;
      color: #181F1C;
      font-size: 26px;
      font-family: "Nunito", serif;
      text-align: center; }
    section.containerGreen .formWrapper .buttonContainer {
      background-color: #6F7762;
      width: 120px;
      height: 50px;
      color: #EEEEEE;
      border: none;
      font-size: 16px;
      border-radius: 0.25rem; }

  section.containerLilac {
    margin-top: 1.5rem; }
    section.containerLilac h2.titleH2 {
      color: #181F1C;
      font-size: 20px;
      font-family: "Nunito", serif;
      text-align: center; }

  .formWrapper {
    width: 90%; }
    .formWrapper .formField {
      margin-bottom: 0.6rem;
      text-align: center; }
      .formWrapper .formField .labelForm {
        margin: 0.3rem 0; }
      .formWrapper .formField .inputForm {
        color: #181F1C;
        background-color: #EEEEEE;
        border-radius: 0.5rem;
        border: none;
        width: 100%;
        height: 40px;
        margin: 0.4rem 0;
        padding: 0 1rem; }

  .textAreaForm {
    height: 15rem; } }
.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

@media only screen and (max-width: 620px) {
  section.containerGreen .isFlex.flexStart.w90 {
    flex-direction: column; }
    section.containerGreen .isFlex.flexStart.w90 div.profilePictureContainer {
      width: 7.5rem; }
    section.containerGreen .isFlex.flexStart.w90 .infoProfileContainer {
      margin-bottom: 0.3rem; }
      section.containerGreen .isFlex.flexStart.w90 .infoProfileContainer .titleH2 {
        margin: 0.3rem 0; }
  section.containerGreen div.w90 h3 {
    margin-top: 0.3rem; }
  section.containerGreen div.w90 .containerWhiteBg {
    margin-bottom: 1rem; }
  section.containerGreen .isFlex.flexBetween.w90 {
    flex-direction: column; }
    section.containerGreen .isFlex.flexBetween.w90 .buttonContainer {
      color: #EEEEEE;
      width: 13rem;
      height: 3.5rem;
      padding: 15px 5px;
      font-size: 16px;
      border-radius: 0.5rem; }
    section.containerGreen .isFlex.flexBetween.w90 a {
      color: #181F1C;
      text-decoration: none;
      position: relative;
      display: inline-block; }

  .containerWhiteBg {
    border-radius: 1rem;
    background-color: #EEEEEE;
    padding: 1rem;
    margin: 1rem auto; } }
.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

@media only screen and (max-width: 620px) {
  article.articleInList {
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0; }
    article.articleInList div.imageContainerList {
      width: 70%; }
    article.articleInList .articleContent h3 {
      font-size: 20px;
      font-weight: normal;
      color: #6F7762;
      margin-bottom: 0.3rem; }
    article.articleInList .articleContent p {
      display: none; }
    article.articleInList .articleContent ul.listCategory {
      display: none; }
    article.articleInList .articleContent .infoArticle {
      margin-bottom: 0.3rem; }
    article.articleInList .articleContent div.buttonContainer {
      background-color: #6F7762;
      width: 120px;
      height: 50px;
      border-radius: 0.5rem;
      width: 10rem;
      height: 2.5rem; } }
.isRelative {
  position: relative; }

.isAbsolute {
  position: absolute; }

.isFlex {
  display: flex;
  gap: 1rem; }

.flexColumn {
  flex-direction: column; }

.flexStart {
  justify-content: flex-start; }

.flexBetween {
  justify-content: space-between; }

.flexAlignItemsCenter {
  align-items: center; }

.w40 {
  width: 40%; }

.w60 {
  width: 60%;
  margin: 0 auto; }

.w70 {
  width: 70%;
  margin: 0 auto; }

.w80 {
  width: 80%;
  margin: 0 auto; }

.w90 {
  width: 90%;
  margin: 0 auto; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.messageFlash {
  margin-top: 2rem;
  padding-top: 0.8rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  height: 50px;
  text-align: center;
  font-family: "Nunito Sans", serif; }

.error {
  background-color: #F06449;
  border: #772014 1px solid;
  color: #EEEEEE;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem; }

.errorContainer {
  margin-top: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: "Nunito Sans", serif; }

.success {
  background-color: #DAEFB3;
  border: #76B041 1px solid;
  color: #181F1C; }

.white-space-wrap {
  white-space: pre-line; }

.overflow-scroll {
  overflow: scroll; }

.text-ellipsis {
  white-space: pre-line;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis; }

@media only screen and (max-width: 620px) {
  section.w80 article.isFlex {
    flex-direction: column;
    align-items: center;
    margin: 2rem auto; }
  section.w80 .w40 {
    width: 80%; }
  section.w80 div.w60 {
    width: 90%; }
    section.w80 div.w60 p.info-category {
      margin-bottom: 1rem; }
    section.w80 div.w60 p.white-space-wrap.overflow-scroll {
      height: 35rem; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EEEEEE;
  font-family: "Nunito Sans", sans-serif; }

html {
  scroll-behavior: smooth; }

/*# sourceMappingURL=style.css.map */
