{% extends 'base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}
    <section class="container">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Date de création</th>
                <th scope="col">Auteur</th>
                <th scope="col">Voir l'article</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.createdAt | date('d-m-Y H:i') }}</td>
                    <td>
                        {% if article.user %}
                            {{ article.user.username }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path("article_show", {id: article.id}) }}">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}