{% extends 'base.html.twig' %}

{% block title %} Modifier le mot de passe {% endblock %}

{% block body %}
  <section class="containerLilac">
    <h2 class="titleH2">Modifier mon mot de passe</h2>
    <div class="formWrapper">
      <form method='POST' action='{{ path("user_profile_update") }}' >
        <div class="formField">
          <label for="password" class="labelForm">Modifier votre mot de passe</label>
          <input type="password" id="password" name="password" required class="inputForm">
        </div>
        <div class="formField">
          <label for="password2" class="labelForm">Retapez votre mot de passe pour être sûr</label>
          <input type="password" id="password2" name="password2" required class="inputForm">
        </div>
        <button type='submit' class="buttonContainer">Modifier</button>
      </form>
    </div>
  </section>

{% endblock %}