{% extends 'base.html.twig' %}

{% block title %} Modifier le mot de passe {% endblock %}

{% block body %}
    <main>
        <form method='POST' action='{{ path("user_profile_update") }}'>
            <div>
                <label for="password">Modifier votre mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="password2">Retapez votre mot de passe pour être sûr</label>
                <input type="password" id="password2" name="password2" required>
            </div>
            <button type='submit'>Envoyer</button>
        </form>
    </main>
{% endblock %}