{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}
    <section class="container">

        <form action="{{ path('login') }}" method="POST">
            <div>
                <label for="_username">Adresse mail</label>
                <input type="email" name="_username" value="{{ lastUsername }}"
                       placeholder="Entrer votre adresse mail">

            </div>
            <div>
                <label for="_password">Mot de passe</label>
                <input type="password" name="_password" placeholder="Mot de passe">
            </div>

            <button type="submit">Se connecter</button>
        </form>
    </section>

{% endblock %}