{% extends 'base.html.twig' %}

{% block title %}Page non autorisée {% endblock %}

{% block body %}
    <section class="containerGreen">
        <h2 class="titleH2">Accès non autorisé</h2>
        <p>Vous n'avez pas le rôle nécessaire pour accéder à cette fonctionnalité</p>
    </section>
{% endblock %}