{% extends 'admin/adminBase.html.twig' %}

{% block title %}Modification droits{% endblock %}

{% block body %}

    <h2>Modification des droits admin de  "{{ admin.email }}"</h2>

    {{ form(formView) }}

{% endblock %}
